body {
  margin: 0;
}

.navbar {
  height: 100px;
  background-color: firebrick;
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui.inverted.segment {
  background-color: #333333;
}

.ui.inverted.list>.item .header {
  margin: 15px 0;
}

.ui.inverted.list>.item .header label {
  color: rgba(255,255,255,.9)!important;
}

.todo-item {
  position: relative;
}

.todo-item i {
  display: none;
  position: absolute;
  right: 10px;
  top: 0;
}

.todo-item i:hover {
  cursor: pointer;
}

.todo-item:hover i {
  display: block;
}